USE [master]
GO
/****** Object:  Database [MordidaDivina]    Script Date: 10/3/2024 16:28:11 ******/
CREATE DATABASE [MordidaDivina]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MordidaDivina', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MordidaDivina.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MordidaDivina_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\MordidaDivina_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MordidaDivina].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MordidaDivina]
GO
/****** Object:  Table [dbo].[carrito]    Script Date: 10/3/2024 16:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carrito](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[usuarioID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 10/3/2024 16:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalleCarrito]    Script Date: 10/3/2024 16:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalleCarrito](
	[carritoId] [bigint] NOT NULL,
	[productoId] [bigint] NOT NULL,
	[cantidad] [int] NOT NULL,
	[total] [decimal](10, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detallePedido]    Script Date: 10/3/2024 16:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detallePedido](
	[pedidoId] [bigint] NOT NULL,
	[productoId] [bigint] NOT NULL,
	[cantidad] [int] NOT NULL,
	[total] [decimal](10, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[direcciones]    Script Date: 10/3/2024 16:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[direcciones](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[usuarioId] [bigint] NOT NULL,
	[provincia] [varchar](255) NOT NULL,
	[canton] [varchar](255) NOT NULL,
	[distrito] [varchar](255) NOT NULL,
	[direccionExacta] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[errores]    Script Date: 10/3/2024 16:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[errores](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](255) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido]    Script Date: 10/3/2024 16:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[usuarioID] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 10/3/2024 16:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[categoriaId] [bigint] NOT NULL,
	[nombre] [varchar](255) NULL,
	[descripcion] [varchar](255) NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 10/3/2024 16:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 10/3/2024 16:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[rolId] [bigint] NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[apellidos] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[contrasenna] [varchar](255) NOT NULL,
	[activo] [bit] NOT NULL,
	[temporal] [bit] NOT NULL,
	[vencimiento] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[carrito]  WITH CHECK ADD  CONSTRAINT [FK_CarritoUsuario] FOREIGN KEY([usuarioID])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[carrito] CHECK CONSTRAINT [FK_CarritoUsuario]
GO
ALTER TABLE [dbo].[detalleCarrito]  WITH CHECK ADD  CONSTRAINT [FK_CarritoId] FOREIGN KEY([carritoId])
REFERENCES [dbo].[carrito] ([id])
GO
ALTER TABLE [dbo].[detalleCarrito] CHECK CONSTRAINT [FK_CarritoId]
GO
ALTER TABLE [dbo].[detalleCarrito]  WITH CHECK ADD  CONSTRAINT [FK_ProductoId] FOREIGN KEY([productoId])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[detalleCarrito] CHECK CONSTRAINT [FK_ProductoId]
GO
ALTER TABLE [dbo].[detallePedido]  WITH CHECK ADD  CONSTRAINT [FK_PedidoId] FOREIGN KEY([pedidoId])
REFERENCES [dbo].[pedido] ([id])
GO
ALTER TABLE [dbo].[detallePedido] CHECK CONSTRAINT [FK_PedidoId]
GO
ALTER TABLE [dbo].[detallePedido]  WITH CHECK ADD  CONSTRAINT [FK_ProductoIdPedido] FOREIGN KEY([productoId])
REFERENCES [dbo].[productos] ([id])
GO
ALTER TABLE [dbo].[detallePedido] CHECK CONSTRAINT [FK_ProductoIdPedido]
GO
ALTER TABLE [dbo].[direcciones]  WITH CHECK ADD  CONSTRAINT [FK_DireccionUsuario] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[direcciones] CHECK CONSTRAINT [FK_DireccionUsuario]
GO
ALTER TABLE [dbo].[pedido]  WITH CHECK ADD  CONSTRAINT [FK_PedidoUsuario] FOREIGN KEY([usuarioID])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[pedido] CHECK CONSTRAINT [FK_PedidoUsuario]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_CategoriaProducto] FOREIGN KEY([categoriaId])
REFERENCES [dbo].[categorias] ([id])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_CategoriaProducto]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_RolUsuario] FOREIGN KEY([rolId])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_RolUsuario]
GO
/****** Object:  StoredProcedure [dbo].[EncontrarPorCorreo]    Script Date: 10/3/2024 16:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EncontrarPorCorreo]
	@Email 		varchar(200)

AS
BEGIN
	SELECT id ,rolId ,nombre ,apellidos ,email ,contrasenna ,activo
	FROM usuarios
	WHERE email = @Email
END
GO
/****** Object:  StoredProcedure [dbo].[EnvioCodigoAcceso]    Script Date: 10/3/2024 16:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[EnvioCodigoAcceso]
	@email varchar(255)
AS
BEGIN
	DECLARE @id BIGINT
		SELECT @id = id 
		FROM dbo.usuarios WHERE email = @email And activo = 1

		IF @id IS NOT NULL
		BEGIN 
			UPDATE dbo.usuarios
			set contrasenna = LEFT(NEWID(),8),
			temporal = 1,
			vencimiento = DATEADD(MINUTE,30,GETDATE())
			WHERE id = @id
		END

	SELECT id,rolId,nombre,apellidos,email,contrasenna,activo,temporal,vencimiento
	From dbo.usuarios
	WHERE id  = @id
END	
GO
/****** Object:  StoredProcedure [dbo].[IniciarSesionUsuario]    Script Date: 10/3/2024 16:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IniciarSesionUsuario]
	@Email 		varchar(200),
    @Contrasenna		varchar(200)

AS
BEGIN
	SELECT id ,rolId ,nombre ,apellidos ,email ,contrasenna ,activo, temporal, vencimiento
	FROM usuarios
	WHERE contrasenna = @Contrasenna
		AND email = @Email
		AND activo = 1
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarDireccion]    Script Date: 10/3/2024 16:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarDireccion]
	@UsuarioId 		bigint,
    @Provincia		varchar(200),
    @Canton				varchar(200),
    @Distrito	varchar(200) ,
	@DireccionExacta varchar(200)
AS
BEGIN

	INSERT INTO direcciones(usuarioId,provincia,canton,distrito, direccionExacta)
	VALUES (@UsuarioId,@Provincia,@Canton,@Distrito,@DireccionExacta)
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarNuevaContrasenna]    Script Date: 10/3/2024 16:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[RegistrarNuevaContrasenna]
	@CodigoAcceso varchar(255),
	@NuevaContrasenna varchar(255),
	@ConfirmacionContrasenna varchar(255)
AS
BEGIN
	DECLARE @id BIGINT
		SELECT @id = id 
		FROM dbo.usuarios 
		WHERE contrasenna = @CodigoAcceso And activo = 1

	DECLARE @codigo varchar(255)
		SELECT  @codigo = contrasenna 
		FROM dbo.usuarios 
		WHERE id = @id 
		AND temporal = 1 
		AND activo = 1

	IF (@CodigoAcceso = @codigo AND @NuevaContrasenna = @ConfirmacionContrasenna)
	BEGIN
		UPDATE dbo.usuarios
			set contrasenna = @ConfirmacionContrasenna,
			temporal = 0,
			vencimiento = GETDATE()
			WHERE id = @id
	END

	SELECT id,rolId,nombre,apellidos,email,contrasenna,activo,temporal,vencimiento
	From dbo.usuarios
	WHERE id  = @id
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuario]    Script Date: 10/3/2024 16:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarUsuario]
	@Nombre		varchar(200),
    @Apellidos		varchar(200),
    @Email				varchar(200),
    @Contrasenna	varchar(200)    
AS
BEGIN

	IF NOT EXISTS(SELECT 1 FROM usuarios WHERE email = @Email)
	BEGIN

		INSERT INTO usuarios(rolId,nombre,apellidos,email,contrasenna,activo,temporal,vencimiento)
		VALUES (2,@Nombre,@Apellidos,@Email,@Contrasenna,1,0,GETDATE())
	END

END
GO
USE [master]
GO
