
@{
    ViewBag.Title = "Index";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Pantalla Principal</h1>
        <div class="card mb-4">
            <div class="card-body">
                <p>Aqui ira la pantalla principal </p>
            </div>
        </div>
    </div>
</main>

