
@{
    ViewBag.Title = "ActualizarProducto";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Pantalla de Actualizar Productos</h1>
        <div class="card mb-4">
            <div class="card-body">
                <p>Aqui irá la pantalla de ACTUALIZAR productos</p>
            </div>
        </div>
    </div>
</main>

